<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center justify-content-center">
        <span class="text-muted text-center justify-content-center">&copy; YelpCamp 2022</span>
    </div>
</footer>